@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
  margin: 0;
  background-color: #ffffffc2;
  font-family: system-ui;
  display: grid;
  height: 100vh;
  /* color: #ffffff; */
  width: 100%;
}