/* @tailwind base;
@tailwind components;
@tailwind utilities;
*/

.iconLogin{
  height: 40px;
  width: 40px;
  border-radius: 100%;

}

.dropdown-item{
  display: none;
  position: relative;
}



.imgStudent{
  display: flex;
  align-items:center ;
  /* justify-content: center; */
  flex-direction: row;
  gap: 30px;
}
.imgStudent img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px rgb(162, 162, 162);
}


.h1-materias{
  display: flex;
  justify-content: left;
  /* gap: 10px; */
  /* margin-left: 20px; */

}
.h1-materias a {
  display: flex;
  font-size: 15px;
  margin: 15px;
}

.if-materia{
  display: flex;
  color: #000000;
  height: 10vh;
  align-items: center;
}


 .alum-week-div{
  
  /* margin: 0 auto;
  align-items: center; */
  display: flex;
}
.btn-icon{
  width: 100px;
  height: 100px0;
  border: 3px;
  /* border-left: 10px solid transparent; */
  /* border-right: 10px solid transparent; */
  /* border-top: 15px solid #ffffff; Color blanco */
  border-bottom:3px solid violet;
}

.btn-icon div{
  border:1px solid violet; 
  border-bottom:3px solid violet; 
  border-radius: 100px;

}

.imgStudents{
  /* color: #fff; */
  width: 20px;
  height: 22px;
  scale: 2.5;
  bottom: 30px;
  top: 200px;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #333;
  color: white;
  padding-top: 20px;
  position: fixed;
  top: 0%;
  left: -250px;
  
  /* animation: css 5s 1s; */
}
/* @keyframes css {
  50%{
    transform: translateX(250px);
  }
} */

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

.contenido {
  margin-left: 250px; /* El mismo ancho que la sidebar */
  padding: 20px;
  flex-grow: 1;
}

.contenido h1 {
  margin-top: 0;
}


























.btn-add{
  background-color: transparent;
  border: none;
  height: 103%;
}
.dv-btn-add{
  height: 130px;
}
.custom-table {
  width:100%;
  margin-bottom: 1rem;
  color: #212529;
  /* border-collapse: collapse; */
  /* margin-left: 100px; */
  /* height: %; */
  /* width: 100%; */
  box-shadow: 0px 0px 15px #615e5e;
}

.dv-start{
  /* display: flex; */
  width: 60%;
}
.custom-table th,
.custom-table td {
  /* width: 100%; */
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.custom-table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.custom-thead {
  background-color: #343a40;
  color: #fff;
  width: 100%;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.custom-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.custom-table th {
  text-align: inherit;
}

.custom-table th[scope="row"] {
  font-weight: bold;
}

.asig_docente{
  background-color: transparent;
  border: none;
}

.svg-add{ 
  width: 140px;
  height: 140px
}





.dv-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-width{
  width: 100%;
}
.container-list-flex{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
table{
  display: block;
  width: 100%;
  table-layout: fixed;
  background-color: #ffffff;
  color: black;
  border-color: #000000;
  border-radius: 10px;

}


.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* Puedes ajustar esto */
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.dv-dc-tj{
  display: block;
  flex-direction: column;
  width:100%;
  height: 120%; 
  padding: 30px;
  border: 1px solid #ffff;
  /* margin-left: 50px ; */
  /* margin-top: 140px; */
  border-radius: 30px;
  align-items: start;
  padding-top: 30px;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  padding-bottom: 15px;

}

.img-dc{
  border-radius: 100%;
  width: 15%;
  height: 15%;
  transition: .7s;
}
.img-dc:hover{

  border-radius: 5%;
  width: 20%;
  height: 20%;
}
.dc-ic-tj{
  width: 10%;
  height: 10%;
}
.container-ic-tj{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 90%;
  /* height: 10%; */
  color: #000000;

}



#lista {
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}


.dv-if-tj{
  display: flex;
  height: 35%;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: .9375rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-if{
  display: flex;
  width: 100%;
  height: 88%;
  flex-direction: column;
  
  /* padding-top: 9%; */
  /* min-height: 40%; */
  /* gap: 150px; */
}

p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-img-tj{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* gap: 25px; */
}
.list-std{
  display: block;
  width: 70%;
  
}
.tj-container{
  margin-top: 100px;
  height: auto;
  width: 100%;
}
.container-list{
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /* margin-bottom: 15px; */
  /* align-items: center; */
}

/* @media screen and (max-width: 768px) { */
  /* Estilos que se aplicarán cuando el ancho de la pantalla sea 768px o menos */
  /* .container-list{

    display: block;
  } */
/* } */


td  {
  /* display: flex; */
  width: auto;
}
.section-subjet-card{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  height: 70vh;
  width: 80%;
  gap: 30px;
  /* align-items: center; */
  justify-content: center;
  /* flex-wrap: wrap; */
  position: relative;
  /* align-items: self-start; */
  top: 70px;
}
.laber-form{
  width: 100%;

}
body {
  margin: 0;
  background-color: #ffffffc2;
  font-family: system-ui;
  display: grid;
  height: 100vh;
  color: #ffffff;
  /* display: block;
  align-items: center;
  justify-content: center; */
}
.dv-containe-section{
  display: flex;
  position: relative;
  align-items: start;
  justify-content: center;
  height: 100%;

}
.c-subject-card{
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  height: 200px;
  box-shadow: #ffffff;
  width: 30%;
  color: #222;
}

.c-subject-img-card{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
}

.c-subject-text-card{
  padding-left: 10px;
}

html{
  height: 0;
}




button > td{
  width: 100%;
}

.selec-idiom{
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.container-logo{
  display: flex;
  margin: 0px;
  margin-top: 61px;  
  align-items: center;
  justify-content: center;
  background-color:#424242;
  height: 140px;
  width: 100%;
}

.fc-widget-content{
  border: 1px solid #ccc;
  width: auto;
  height: 100%;
}

td{
  width: 100%;
}


.container-objet{
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin-top: 0px;
  height: 7%;
  width: 140px;
  margin-left: 20px;
}


.dropdown-idioma{
  display: flex;
  font-size: calc(0.90375rem + 0.045vw);
  align-items: center;
  justify-content: right;
}

.navbar{
  display: flex;
  align-items: center;
  border: 0px solid black;
  height: 74px;
  width: 100%;
  margin: 0px;
  background-color: #1a73048e;
  align-items: stretch;

  /* position: absolut; */
  z-index: 1000;
  top: 0px;
}

.nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 17px;
  margin-left: 16px;
  cursor: pointer;


}
/*  */
.container-icon{
  width: 50px;
  /* border-radius: 100px; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 0px;

  border: 3px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #ffffff; /* Color blanco */
  /* border-bottom:3px solid violet;  */

}

.dv-container-selec{
  width: 100%;
  display: flex;
  height: 5vh;

  align-items: center;
  justify-content: center;
  gap: 130px;
  margin-bottom: 10px;

}
.materia-h1{
  color: red;
  margin-right: auto;
  
}
.form-center{
  display: block;

  width: 500px;
}
.login-divide{
  height: 1px;
  width: 90%;
  margin:10px ;
  background-color: #958d8d;

}
.dv-container-selec button{
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  height: 70px;
  width: auto;
  /* border-bottom: 4px solid blueviolet; */
} 
.container-ob-form{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.container-ob-form2{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container-ob-form h1 {
  color: #c02424;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
  font-weight: var(--font_0);
}
.container-ob-form h3 {
  color: #c02424;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  font-family:Arial, Helvetica, sans-serif;
}
.error-span{
  border-radius: 10px;
  color: #ff0000;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 20px;
  font-style: oblique;
  width: 100%;
  height: 30px;
  animation: spanError 0.5s ;
}
@keyframes spanError {
  20%{
    transform:  translateX(2px);
  }
  40%{
    transform:  translateX(-2px);
  }
  60%{
    transform:  translateX(2px);
  }
  80%{
    transform:  translateX(-2px);
  }
}
.btn-primary{
  background-color: #c02424;
  color: #ffffff;
  border: 1.5px;
  width:100px;
  height:40px;
  font-size: 16px;
  font-weight: 400;

}
.btn-primary:hover{
  background-color: #0f6cbf;

}
.btn-mcsf{
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #aca8a8; 
  margin-bottom: 30px;
}
.img-mft-btn{
  width: 30px;
  height: 30px;
}
.ctn-btn-mcsft{
  width: 80%;

}
.dv-bt-mcsft{
  display: flex;
  gap: 10px;
  align-items: center;
  
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-login{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #ffffff;
  height: 80vh auto;
  color: #000000;
  border-radius:10px;
  box-shadow: 0px 0px  5px #615e5e;
  margin-bottom: 100px;
}
.form-control{
  color: #000000;
  width:100%;
  height:40px;
}
.btn-idm-cks{
  display: flex;
  gap: 20px;
  margin-bottom: 35px;
  margin-top: 20px;
}
.btn-idm-cks select{
  border: transparent;
  font-size: small;
  
}
.login-divid h3{
  color: #c02424;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  font-family:Arial, Helvetica, sans-serif;
}
.divisor-vertical{
  border: .1px solid #919191;
}
.btn-idm-cks button{
  background-color: #424242;
  color: #ffff;
  font-size: small;
  height: 40px;
  width: 150px;
  border: 1px;
  
}
.btn-idm-cks button:hover{
  background-color: #0f6cbf;
}
.container-form{
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-label{
  display: flex;
  align-items:center;
  justify-content: left;
}
.mb-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;

}

.fc-first{
  width: 100%;
}

.dv-container-week{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-bottom: 30px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  height: 70px;
  /* flex-direction: row; */
  /* position: relative; */
  /* justify-content: right; */
  /* margin-top: 20px; */
  width: 90%;
  /* padding-top: 10%; */
}

/* codigo sin corregir se la tabla  */
.fc-agenda-days{
  width: 90%;
}
.fc-agenda-days ,
.fc-agenda-days th {
    border: 1px solid #000000; /* Añade bordes de 1px sólido */
}

.fc-agenda-axis {
    border-right: 1px solid #000000; /* Añade bordes de 1px sólido a la derecha */
}

.fc-ltr{
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.fc-header{
    width: 100%;
}

.fc-widget-header{
    width: 10%;

}

.fc-agenda-axis {
    position: absolute;
    height: 20px; 
    margin-top: 5px;/* Cambia la altura a 20px o el valor que prefieras */
}

div > td{
    /* position: relative; */
    /* height: 0px; */
    border: #ffffff;
    height: 100%;
}

.horario-Button{
    /* position: relative; */
    height: 60px;
    /* text-overflow: ellipsis; */
    display: block;
    /* padding: 0px; */
    background-color: transparent;
    border: none;
    width: 100%;
    /* height: 100%; */
    /* background-color: #ffffff; */
}

/* form{
  display: flex;
  position: relative;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  top: 30px;
  height: 40vh;
} */

.div-button{
    display: flex;
    position: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    padding-top: 0px;
    gap: 20px;

}

.fc-content{
  width: 100%;
}

.fc-col0{
    margin-left: 0px;
    background-color: #ffff;
    border: 1px solid #ccc;
}

.fc-col0 button{
  border: none;
  background-color: #ffffff;
}

.separacion{
    position: relative;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.fc-view-agendaWeek{
    display: block;
    position: block;
    /* margin-top: 100px; */
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-wrap: nowrap;
    /* left: -10px !important; */
  }
  /* .dv-container-week{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  @media screen and (max-width: 1080px) {
    /* Estilos específicos para pantallas más pequeñas */
    /* #horario{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      /* right: -100px; */
    }
    /* .dv-container-week{

      position: relative;
      display: flex;
      align-items: center;
      justify-content: right;
      right: -100px;    } */ */
  
  .horario{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .contenedor-he{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    /* padding-left: 100px; */
  }
  @media screen and (max-width: 430px) {
    /* Estilos específicos para pantallas aún más pequeñas */
    .dv-container-week{
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: left !important;
      flex-wrap: wrap;
      height: 100vh auto;
      flex-direction: row;
      /* position: relative; */
      /* justify-content: right; */
      /* margin-top: 20px; */
      width: 90%;
      background-color: red;
    }
    .tj-container{
      width: 70%;
      display: flex;
    }
    .container-list{
    }
    .container-objet{
      display: block;
    }
    .dropdown-idioma{
      display: none;
    }
    .container-list{

    }
  
  }

  @media screen and (max-width: 820px) {
    .dv-container-week{
      justify-content: center;
      /* display: none; */
      display: flex;
      align-items: center;
      gap: 0px;
      /* justify-content: center; */
    }


  }


.td-hora{
    width: 100px;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    height: 80px;    
}

.td-button{
    width: 100px;
    position: relative;
    padding-left: 20px;
    height: 80px;
    align-items: start;
    
}

.button-hora{
    height: 100%;
    height: 80px;
}

/*  */