@tailwind base;
@tailwind components;
@tailwind utilities;


.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* Puedes ajustar esto */
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.dv-dc-tj{
  display: block;
  width:90%;
  height: 90%;
  border: 1px solid #ffff;
  margin-left: 50px ;
  margin-top: 0px;
  border-radius: 30px;
  align-items: start;
  padding-top: 30px;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  padding-bottom: 15px;
}

.img-dc{
  border-radius: 100%;
  width: 40%;
  height: 40%;
  transition: .7s;
}
.img-dc:hover{

  border-radius: 5%;
  width: 70%;
  height: 170px;
}
.dc-ic-tj{
  width: 10%;
  height: 10%;
}
.container-ic-tj{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 90%;
  /* height: 10%; */
  color: #000000;

}



#lista {
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}


.dv-if-tj{
  display: flex;
  height: 35%;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: .9375rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-if{
  display: block;
  width: 100%;
  height: 88%;
  /* padding-top: 9%; */
  /* min-height: 40%; */
  /* gap: 150px; */
}

p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-img-tj{
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-std{
  display: block;
  width: 70%;
  
}
.tj-container{
  height: 18%;
  width: 25%;
}
.container-list{
  display: flex;
  width:100%;
  justify-content: center;
  margin-top: 30px;
  /* align-items: center; */
}

/* @media screen and (max-width: 768px) { */
  /* Estilos que se aplicarán cuando el ancho de la pantalla sea 768px o menos */
  /* .container-list{

    display: block;
  } */
/* } */


td  {
  /* display: flex; */
  width: auto;
}
.section-subjet-card{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  height: 70vh;
  width: 80%;
  gap: 30px;
  flex-wrap: wrap;
  position: relative;
  align-items: self-start;
  top: 70px;
}
.laber-form{
  width: 100%;

}
body {
  margin: 0;
  background-color: #222;
  font-family: system-ui;
  display: grid;
  height: 100vh;
  color: #ffffff;
  /* display: block;
  align-items: center;
  justify-content: center; */
}
.dv-containe-section{
  display: flex;
  position: relative;
  align-items: start;
  justify-content: center;
  height: 100%;

}
.c-subject-card{
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  height: 200px;
  box-shadow: #ffffff;
  width: 30%;
  color: #222;
}

.c-subject-img-card{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
}

.c-subject-text-card{
  padding-left: 10px;
}

html{
  height: 0;
}




button > td{
  width: 100%;
}

.selec-idiom{
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.container-logo{
  display: flex;
  margin: 0px;
  margin-top: 61px;  
  align-items: center;
  justify-content: center;
  background-color:#424242;
  height: 140px;
  width: 100%;
}

.fc-widget-content{
  border: 1px solid #ccc;
  width: auto;
  height: 100%;
}

td{
  width: 100%;
}


.container-objet{
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: center;
}

.logo{
  margin-top: 0px;
  height: 7%;
  width: 12%;
  
}


.dropdown-idioma{
  display: flex;
  font-size: calc(0.90375rem + 0.045vw);
  align-items: center;
  justify-content: right;
}

.navbar{
  display: flex;
  align-items: center;
  border: 0px solid black;
  height: 74px;
  width: 100%;
  margin: 0px;
  background-color: #EC3237;
  align-items: stretch;

  position: fixed;
  z-index: 1000;
  top: 0px;
}

.nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 17px;
  margin-left: 16px;
  cursor: pointer;


}
/*  */

.dv-container-selec{
  width: 100%;
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.materia-h1{
  color: red;
  margin-right: auto;
  
}
.dv-container-selec button{
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  height: 70px;
  width: auto;
  border-bottom: 4px solid blueviolet;
} 

.form-login{
  width:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #ffffff;
  height: 50vh;
  color: #000000;
  border-radius: 30px;
}
.container-form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-label{
  display: flex;
  align-items:center;
  justify-content: left;
}
.mb-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;

}

.fc-first{
  width: 100%;
}

.dv-container-week{
  display: block;
  /* position: relative; */
  /* justify-content: right; */
  /* margin-top: 20px; */
  width: 90%;
  /* padding-top: 10%; */
}

/* codigo sin corregir se la tabla  */
.fc-agenda-days{
  width: 90%;
}
.fc-agenda-days ,
.fc-agenda-days th {
    border: 1px solid #000000; /* Añade bordes de 1px sólido */
}

.fc-agenda-axis {
    border-right: 1px solid #000000; /* Añade bordes de 1px sólido a la derecha */
}

.fc-ltr{
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.fc-header{
    width: 100%;
}

.fc-widget-header{
    width: 10%;

}

.fc-agenda-axis {
    position: absolute;
    height: 20px; 
    margin-top: 5px;/* Cambia la altura a 20px o el valor que prefieras */
}

div > td{
    /* position: relative; */
    /* height: 0px; */
    border: #ffffff;
    height: 100%;
}

.horario-Button{
    position: relative;
    height: 100px;
    /* text-overflow: ellipsis; */
    display: block;
    /* padding: 0px; */
    width: 100%;
    /* height: 100%; */
    /* background-color: #ffffff; */
}

form{
  display: flex;
  position: relative;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  top: 30px;
  height: 40vh;
}

.div-button{
    display: flex;
    position: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    padding-top: 0px;
    gap: 20px;

}

.fc-content{
  width: 100%;
}

.fc-col0{
    margin-left: 0px;
    background-color: #ffff;
    border: 1px solid #ccc;
}

.fc-col0 button{
  border: none;
  background-color: #ffffff;
}

.separacion{
    position: relative;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.fc-view-agendaWeek{
    display: block;
    position: block;
    /* margin-top: 100px; */
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-wrap: nowrap;
    /* left: -10px !important; */
  }
  .dv-container-week{
    width: 80%;
    display: block;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 1080px) {
    /* Estilos específicos para pantallas más pequeñas */
    #horario{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: right;
      right: -100px;
    }
    .dv-container-week{

      position: relative;
      display: flex;
      align-items: center;
      justify-content: right;
      right: -100px;    }
  }
  .horario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor-he{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 100px;
  }
  @media screen and (max-width: 480px) {
    /* Estilos específicos para pantallas aún más pequeñas */
    .dv-container-week{
      justify-content: right;
    }
  
  }


.td-hora{
    width: 100px;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    height: 80px;    
}

.td-button{
    width: 100px;
    position: relative;
    padding-left: 20px;
    height: 80px;
    align-items: start;
    
}

.button-hora{
    height: 100%;
    height: 80px;
}

/*  */